@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
:root{
    --black-color:#212024;
    --main-accent-color:#683FBF;
    --bg-color:#F1EAF8;
    --important-color:#D92929;
    --box-curved-color:#FEFEFF;
    --gray-color:#dadce0;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

h1{
    font-weight: 400;
}

body{
    background-color:var(--bg-color);
    color: var(--black-color);
    font-family: Roboto,Draft,Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    line-height: 1.8;
}

/* form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
} */


.box-curved{
    background-color: var(--box-curved-color);
    border-radius: 8px;
    border: 1px solid var(--gray-color);
    /* box-shadow: 1px 0px 5px .1px var(--black-color); */
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* width: 550px; */
    max-width: 600px;
    width: 100vw;
    margin-bottom: 7px;
}

.border-top-purple{
    border-top: 10px solid var(--main-accent-color);
    margin-top: 30px;
}

.required{
    color: var(--important-color);
}

.text-box{
    outline: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid var(--black-color);
    border-color: rgb(0, 0, 0,.2);
    z-index: 0;
    word-wrap: break-word;
    transform: 143ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
    width: 300px;
    padding: 5px;
    resize: none;
    font-weight: normal;
}

.text-box:focus{
    border-bottom: 3px solid var(--main-accent-color);
}

.question{
    margin-bottom: 12px;
}

.btn{
    background-color: var(--main-accent-color);
    color: white;
    padding: 10px 24px 10px 24px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.dropdown{
    /* appearance: none; */
    padding: 12px 18px 12px 18px;
    border: 1px solid var(--gray-color);
    cursor: pointer;
}

.dropdown:focus{
    outline: none;
}